@import "./Nav.scss";
@import "./Breadcrumb.scss";
@import "./Item.scss";
@import "./ItemDetail.scss";

body {
  background-color: #ebebeb;
  --yellow-meli: #ffe600;
  --black-meli: #333333;
  --dark-grey-meli: #999999;
  --light-grey-meli: #eeeeee;
  --blue-meli: #3483fa;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
